@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(65deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-imagem {
    border-radius: 50%;
    height: 80px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFFF;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.2px solid #FFFF;
    margin-bottom: 40px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.car1,
.car2,
.car3,
.car4 {
    border-radius: 50%;
    height: 180px;
    border: 2px solid #FFFF;
}

.car1 car2,
car2,
car3,
car4 {
    border-radius: 50%;
}

.conteudo-escrito {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font: 65px;
    color: #FFFF
}

.sub-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFF;
}

.butao {
    background-color: #FFFF;
    width: 160px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.butao:hover {
    background-color: black;
    color: #FFFF;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.sec-titulo {
    padding-top: 40px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 25px;
    color: #FFFF;
    margin-bottom: 10px;
    border-top: 0.2px solid #FFFF;
}

.sec-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFFF;
}

.rodape {
    padding: 20px;
    border-top: 0.2px solid #FFFF;
}

.logo-rodape {
    height: 150px;
    display: block;
    margin: 0 auto;
}